@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'Play', sans-serif;
    font-weight: normal;
    font-style: normal;
}

font-face {
    font-family: 'Geometric 415';
    src: url(GEO415K.ttf)
}

@font-face {
    font-family: 'ralewayregular';
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: "robotoregular";
	src: url("../fonts/Roboto-Regular.ttf") format("truetype");

}

/* flat icon css */

@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");

	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'geometr415_blk_btblack';
    src: url('../fonts/tt0524m_-webfont.eot');
    src: url('../fonts/tt0524m_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tt0524m_-webfont.woff2') format('woff2'),
         url('../fonts/tt0524m_-webfont.woff') format('woff'),
         url('../fonts/tt0524m_-webfont.ttf') format('truetype'),
         url('../fonts/tt0524m_-webfont.svg#geometr415_blk_btblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.eot');
    src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff'),
         url('../fonts/raleway-regular-webfont.ttf') format('truetype'),
         url('../fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
	font-family:'Glyphicons Halflings';
	src:url('../fonts/glyphicons-halflings-regular.eot');
	src:url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'),
	url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
	url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
	url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg')
}

.glyphicon-hand-right:before {
    content: "\e127";
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
font-style: normal;
}.flaticon-arm2:before {
	content: "\e000";
}
.flaticon-blood11:before {
	content: "\e001";
}
.flaticon-bodyparts20:before {
	content: "\e002";
}
.flaticon-computer201:before {
	content: "\e003";
}
.flaticon-hardware1:before {
	content: "\e004";
}
.flaticon-health3:before {
	content: "\e005";
}
.flaticon-iphone11:before {
	content: "\e006";
}
.flaticon-kneecap:before {
	content: "\e007";
}
.flaticon-leg2:before {
	content: "\e008";
}
.flaticon-medical64:before {
	content: "\e009";
}
.flaticon-medical91:before {
	content: "\e00a";
}
.flaticon-monitor94:before {
	content: "\e00b";
}
.flaticon-scale17:before {
	content: "\e00c";
}

/* flat icon css */



h1 span, h2 span, h3 span, h4 span, h5 span, .fontfam1, h1 small, h2 small, h3 small, h4 small, h5 small, .bdate, .byear, .blog_sec .media-heading {
	
	font-family: 'ralewayregular';
}
h1, h2, h3, h4, h5, .btn-border, .fontfam2  {
	 font-family: 'geometr415_blk_btblack';
}
h1 {
	font-size: 36px;
}

}
.btn {
	text-transform:uppercase; font-family:'Raleway', sans-serif;
}
body {
	font-family: 'Raleway', sans-serif;
}
.fontfam3, header, .bs-service-items h2, .home-contact-info h3, .home-contact-info, .blog_sec .bdate, .blog_sec .byear{
	font-family: 'robotoregular'; 	
}

h1 small, h2 small, h3 small, h4 small, h5 small {
	text-transform:none; font-size:75%; color:inherit;	
}
h1 span, h2 span, h3 span, h4 span, h5 span {
	display:block;	
	/*width: 50%; */
	margin-top: -2%;
}

[data-sr] { visibility: hidden; }


/* font-family: "Glyphicons Halflings"; */
.hide1 {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

  /* IE 5-7 */
  filter: alpha(opacity=0);

  /* Netscape */
  -moz-opacity: 0;

  /* Safari 1.x */
  -khtml-opacity: 0;

  /* Good browsers */
  opacity: 0;
}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}
.btn-round {
	-webkit-border-radius: 150px;
	border-radius: 150px;	
}
a {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
a:hover {
	text-decoration:none;	
}
body {
	font-size:16px;
}

/* start common css */


.topmisclink .media {
	display:block;
	float:right;
	width:auto;
	font-family: 'robotoregular';
	text-align:left;
	line-height:1.2;
}
.topmisclink {
	text-align:right;
	padding-top:10px;
	color:#b3b3b4;	
}
.btn {
	text-transform:uppercase; font-family:'Raleway', sans-serif;	
}
header {
	padding-top:20px;
	position:relative;
	width:100%;
	z-index: 11;

}
.header-nav {
	position:relative;
	width:100%;

}
.navbar {
	margin-bottom:0px;	
}
.nav-social {
	font-size:30px; 
}
.nav-social > li > a {
	padding:15px 10px; 
}
.nav-main > li {

}
.nav-main > li > a:after {
	position:absolute; left:50%; right:50%; overflow:hidden; background-color:#484cca; height:5px; content:" "; bottom:-1px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;			
}
.nav-main > li.active > a:after {
	position:absolute; left:15px; right:15px; overflow:hidden; background-color:#484cca; height:5px; content:" "; bottom:-1px;
}
.nav-main > li:hover > a:after {
	position:absolute; left:15px; right:15px; overflow:hidden; background-color:#484cca; height:5px; content:" "; bottom:-1px;
}
.navbar-default .nav-social > li > a {
	color: rgba(255,255,255,0.5);	
}
.nav-social > li:last-child > a{
	padding-right:30px;	
}
.callus {
	padding-right:20px; margin-top:0px; padding-top:8px;
}
.emailus {

	padding-right:20px; padding-top:10px;
}
.request_quote {
	padding-top:10px;	
}
.header-top {
	padding-bottom:30px;	
}

.bs-slider {
	
	width:100%;
	
		
}

.top_orange_nav nav {
	text-transform: uppercase; 

}
.top_orange_nav {
	background-color:#3f3b7b; 
	margin-top: 25px;
 }
.carousel-inner {

}

.bs-slider h1 span {
	display:block;
	text-transform:none;
	
}
.carousel-content {
	font-size:20px; font-family:'ralewayregular';
}

.carousel-content ul, .carousel-content ul li, ul.arrowlist , ul.arrowlist li {
	margin:0px; padding:0px; list-style-type:none;	
}
.carousel-content ul, ul.arrowlist {
	padding-bottom:20px;	
}
.carousel-content ul li, ul.arrowlist li {
	padding-left:40px; position:relative; display:block;
}
.carousel-content ul li:before {
	position:absolute;
	left:0px;
	top:12px;
	width:30px; height:5px; background-color:#f7941d; overflow:hidden; content:" ";
}
ul.arrowlist li {
	padding-left:15px;	
}
ul.arrowlist li:before {
	position:absolute; font-size:14px;
	left:5px;
	top:0px; font-family:FontAwesome;
	content:"\f105  "; background-color:transparent;
}
.hstyle1 small {
	display:block;
}
.hstyle1 {
	position:relative; margin-top:0px; padding-bottom:20px; margin-bottom:20px;
	text-transform:uppercase;
}
.hstyle1:after {
	position:absolute; left:50%; bottom:0px; width:50px; margin-left:-25px; overflow:hidden; display:block; background-color:#f7941d; height:5px; content:" ";
}
.btn-border {
	padding:8px 20px; border:2px solid #ff8400; text-transform:uppercase; color:#000; margin-top:10px;	
}
.btn-border:hover {
	background-color:#ff8400; color:#fff;
}
.service_sec {
	background-color:#f1f2f7; border:1px solid #e4e4e4; border-left:0px; border-right:0px;	
}


.bs-service-item {
	padding:5px 30px 15px 30px; background-color:#8460a4; margin-top:15px;  color:#FFF; padding-left:145px; width:98%; position:relative;
-webkit-transition: all 300ms ease-out;
-moz-transition: all 300ms ease-out;
-ms-transition: all 300ms ease-out;
-o-transition: all 300ms ease-out;
transition: all 300ms ease-out;		
}

.bs-service-item:hover{
-moz-transform: scale(1.05);
-webkit-transform: scale(1.05);
-o-transform: scale(1.05);
-ms-transform: scale(1.05);
transform: scale(1.05);	
}
.bs-service-item a {
	position:absolute;
	left:0px; width:100%; height:100%; display:block; top:0px;
-webkit-transition: all 300ms ease-out;
-moz-transition: all 300ms ease-out;
-ms-transition: all 300ms ease-out;
-o-transition: all 300ms ease-out;
transition: all 300ms ease-out;	
}
.bs-service-item a:hover{
-webkit-box-shadow:inset 0 0 0 10px rgba(0,0,0,0.2);
box-shadow:inset 0 0 0 10px rgba(0,0,0,0.2);
}
.bs-service-item1 {
	background-color:#8460a4;
}
.bs-service-item2 {
	background-color:#ff6863;
}
.bs-service-item3 {
	background-color:#3dcec7;
}
.bs-service-item4 {
	background-color:#f4c949;
}
.bs-service-item5 {
	background-color:#f87912;
}
.bs-service-item6 {
	background-color:#166ba2;
}

.bs-service-item1:before {
	position:absolute; left:30px; font-size:90px; color:#fff; content:'\e003'; font-family:'Flaticon'; top:10px;
}
.bs-service-item2:before {
	position:absolute; left:30px; font-size:90px; color:#fff; content:'\e003'; font-family:'Flaticon'; top:5px;
}
.bs-service-item3:before {
	position:absolute; left:30px; font-size:90px; color:#fff; content:'\e003'; font-family:'Flaticon'; top:5px;
}
.bs-service-item4:before {
	position:absolute; left:30px; font-size:90px; color:#fff; content:'\e004'; font-family:'Flaticon'; top:5px;
}
.bs-service-item5:before {
	position:absolute; left:25px; font-size:85px; color:#fff; content:'\F085'; font-family:'Flaticon'; top:2px;
}
.bs-service-item6:before {
	position:absolute; left:30px; font-size:85px; color:#fff; content:'\F108'; font-family:'Flaticon'; top:8px;
}

.home-contact-info{
	background: #2b2e33 url(../img/map.png) no-repeat center center; color:#FFF;
}

.sec-phone, .sec-address, .sec-email {
    text-align: center;
}
.home-contact-info h3 {
    font-size: 29px;
    padding-top: 88px;
    position: relative; text-transform:uppercase;
}
.sec-phone, .sec-address, .sec-email {
    text-align: center;
}
.home-contact-info a {
    color: #ffffff;
}
.home-contact-info a:hover {
    color: #edae5b;
}
.home-contact-info h3::before {
    background-color: #f7941d;
    border: 5px solid #916128;
    border-radius: 100px;
    content: " ";
    height: 78px;
    left: 50%;
    margin-left: -39px;
    position: absolute;
    top: 0;
    width: 78px;
}
.home-contact-info .sec-phone h3::before {
    background: #edae5b url("../img/ic-phone.png") no-repeat scroll center center;
}
.home-contact-info .sec-address h3::before {
    background: #edae5b url("../img/ic-marker.png") no-repeat scroll center center;
}
.home-contact-info .sec-email h3::before {
    background: #edae5b url("../img/ic-email.png") no-repeat scroll center center;
}
.dash-line {
    clear: both;
    margin: auto;
    position: relative;
    width: 67%;
}
.dash-line::before {
    border-bottom: 1px dashed rgba(255,255,255,0.2);
    content: " ";
    height: 1px;
    position: absolute;
    top: 60px;
    width: 100%;
}
.links_sec ul {
	text-align:center; margin:0px;
}
.links_sec a {
	display:inline-block; color:#000; position:relative;
}
.links_sec a:after {
	display:inline-block; content:"|"; text-align:center; padding-left:10px; padding-right:6px;
}
.links_sec ul li {
	display:inline-block;
}
.links_sec ul li:last-child a:after {
	content:"";
}
.links_sec ul li:after:last-child {
	
}
.testi_sec .container {
	background: url(../img/testimonial-bg.jpg) no-repeat right top;	
}
.testi_sec .hstyle1:after {
	left:0px; margin-left:0px;
}
.testimonial-item {
	padding-bottom:30px; padding-top:5px;
}
.testimonial-item {
	
}
.testimonial-item .media-left {
	padding-right:30px;	
}
.testimonial-item .media-body {
	overflow:visible;
}
.testimonial-item h4 {
	padding-top:30px; position:relative; display:block; font-size:20px;
}
.testimonial-item h4:before {
	position:absolute; left:-65px; bottom:3px; width:35px; height:35px; border-right:2px solid #f7941d; border-bottom:2px solid #f7941d;  content:" ";
}
.testimonial-item h4 small {
	display:block; padding-top:5px; color:#f7941d;
}
.carousel-indicators .active {
	background-color:#222222; border-color:#222222;	
}
.carousel-indicators li {
	background-color:#f7931e; border-color:#fff;	
}
.testimonial-items .carousel-indicators {
	left:40px; bottom:0px;
}
.body-sec .pg-title {
	background-color:#ebebeb;
	padding:50px 0px;
	text-align:center;
	
}
.body-sec .pg-title h1 {
	margin:0px;
}
.body-sec .pg-title h1 small {
	display:block;
}
.body-content {
	padding:40px 0px;
	
}
.body-content p {
	text-align: justify;
}
.body-content .container .row .row {
	margin-bottom:30px;	
}
.blog_sec .bdate, .content_sec .bdate{
	padding:10px; background-color:#363636; color:#FFF; text-align:center; line-height:1; font-size:14px;
}
.blog_sec .byear, .content_sec .byear{
	padding:10px; background-color:#f7921e; color:#FFF; text-align:center; line-height:1; font-size:14px;
}
.blog_sec .media-heading {
	font-weight:bold;	
}
.blog_detail_sec h1 {
	margin-bottom:0px;	
}
.legal_ass_sec2 ul li {
	padding-bottom:5px;	
}
.legal_ass_sec2 .current_page_item a {
	color:#000;
}
.widget_recent_entries .post-date {
	display:block; font-size:14px; color:#999;	
}
.media-center {
	margin:auto; clear:both; float:none; text-align:center; width:80px; height:80px; border-radius:100px; vertical-align:middle; margin-bottom:20px; position:absolute; margin-left:-40px; left:50%; top:-40px; border:5px solid #FFF;
}
.media-center{
 font-size:40px;
}
.panel-service .media .media-body {
	padding-top:30px;	
}
.panel-service .media {
	margin-bottom:0px;	
}
.panel-service {
	margin-bottom:60px;	
}
.panel-service .panel-body {
	padding:0px;	
}
.panel-service ul {
	margin-bottom:0px;	
}
.panel-service ul li  {
	border-top:1px solid rgba(0,0,0,0.1); padding:10px 0px;
}
.panel-service h4 {
	padding-top:50px; padding-bottom:10px;
}
.panel-service [class^="flaticon-"]:before, .panel-service [class*=" flaticon-"]:before,
.panel-service [class^="flaticon-"]:after, .panel-service [class*=" flaticon-"]:after {
line-height:68px;
font-size:32px;	
}
.primary-bg {
	
}
.panel-service-items [class="flaticon-"]{
	margin-right:5px; float:left; padding-bottom:0px; line-height:1.2; display:block; margin-left:-25px;
}
.panel-service-items li {
	padding-left:40px;
}
.panel-service-items a {
	display:table-cell;
}

/* start common css */

.sectionpad {
	padding: 40px 0px;
	z-index: 10;
}
.ps-inner-pad10 {
	padding:10px;	
}
.ps-inner-pad20 {
	padding:20px;	
}
.padL20 {
	padding-left:20px;
}
.padR20 {
	padding-right:20px;
}
.padT20 {
	padding-top:20px;
}
.padB20 {
	padding-bottom:20px;
}

.padT0 {
	padding-top:0px;
}
.padT40 {
	padding-top:40px;
}
.padB0 {
	padding-bottom:0px;	
}
.space20, .space10, .space5 {
	float:none;
	clear:both;	
}
.space20{
	padding-top:20px;	
}
.space10{
	padding-top:10px;	
}
.space5{
	padding-top:5px;	
}
.mar0 {
	margin:0px;	
}
.marT0 {
	margin-top:0px;	
}
.marB0 {
	margin-bottom:0px !important;	
}
.marL0 {
	margin-left:0px;	
}
.marR0 {
	margin-right:0px;	
}


.clear {
	width:100%;
	height:0px;
	padding-top:1px;
	overflow:hidden;
	font-size:1px;
	line-height:1px;
	clear:both;
}

.clear2 {
	clear:both;
	float:none;	
}
.remove-gutter-space .container-fluid, .remove-gutter-space .row, .remove-gutter-space [class^="col-"]  {
	padding:0px; margin:0px; 
}
.remove-gutter-space2 {
	margin-left:0px; margin-right:0px;		
}
.remove-gutter-space2 > div {
	padding:0px;
}
.aligncenter {
	margin:auto;
	display:block;
	max-width:100%;
	height:auto;
}
.alignright  {
	float:right;
}

.hr {
	position:relative; padding:0px; margin:0px; height:1px; background-color:rgba(0,0,0,0.1); margin:15px 0px;
}
.hr:before {
	position:absolute; left:0px; top:0px; height:1px; width:100px; background-color:#f7921e; content:" ";
}

.readmore {
	color:#ff8400; display:inline-block; padding:10px 20px; border:2px solid #f7921e; position:relative; padding-right:70px; text-transform:uppercase;
}
.readmore a {
	color:#000000;
}
.readmore a:hover {
	color:#f7921e;
}
.readmore:after{
	content:'\f178'; font-family:'FontAwesome'; display:block; position:absolute; right:0px; top:0px; margin-left:5px; width:50px; color:#FFF; text-align:center; line-height:45px; 
}
.readmore:before{
	content:''; display:block; position:absolute; right:0px; top:0px; width:0px; height:0; 
   border-right: 40px solid #f7921e;
   border-top: 45px solid #f7921e;
   border-bottom: 0px solid transparent;
   border-left:20px solid transparent;
}



.footer {
	padding:20px 0px;
}
.footer a {
	
}
.footer a:hover {
	
}
.copyright {
	color:#949494; font-size:14px; text-align:center; padding-top:10px; border-top:1px solid rgba(255,255,255,0.1)	
}
p > img {
	margin:auto;	
}
.media-body-middle {
	vertical-align:middle;	
}

.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}
.col-middle {
  vertical-align: middle;
}
.service_list {
	padding-bottom:30px;	
}
.service_list ul > li {
	position:relative;
	display:block;
	padding-left:40px;
	padding-top:10px; padding-bottom:10px;
	border-bottom:1px solid #dddddd;
}
.service_list ul > li:first-child {
	padding-top:0px;	
}
.service_list ul > li:last-child {
	padding-bottom:0px; border:0px;	
}
.service_list ul > li .flaticon {
	position:absolute; left:10px; top:10px;
}
.service_list ul > li:first-child .flaticon {
	position:absolute; left:10px; top:0px;	
}
.service_list ul > li a {
	color:#000;	
}
.service_list ul > li a:hover, .service_list ul > li a:focus, .service_list ul > li.active a{
	color:#f7921f;
}
.free_estimate {
	padding:15px; background-color:#f3f4f8;
	margin-bottom:30px;
}
.free_estimate h4 span {
	display:inline-block;	
}
.free_estimate hr{
	border-color:#d5d6da; margin-top:10px; margin-bottom:10px;	
}
.judysboook {
	padding-bottom:30px;
}
.city_search_b {
	padding-bottom:30px;
}
.google_map {
	padding-bottom:25px;
}
.sidebar_clientsay {
	padding-bottom:30px; position:relative; 
}
.sidebar_clientsay hr{
	border-color:#d5d6da; margin-top:10px; margin-bottom:10px;	
}
.sidebar_clientsay .clientsay_body{
color:#8d8d8d; font-size:14px; padding-bottom:10px; padding-left:30px; position:relative;	
}
.sidebar_clientsay .clientsay_body .fa {
	position:absolute; left:0px; top:5px; color:#e0e0e0; font-size:25px;
}
.sidebar_clientsay .clientsay_author {
	color:#0094da; padding-left:30px;
}
#carousel_sidebar_clientsay .left.control {
	position:absolute; right:20px; top:-44px; font-size:18px; color:#0094da;
}
#carousel_sidebar_clientsay .right.control {
	position:absolute; right:0px; top:-44px; font-size:18px; color:#0094da;
}
.list-01 {
	margin:0px; padding:0px; list-style-type:none; text-align: left;
}
.list-01 li {
	position:relative; padding-left:1.5em; padding-bottom:7px;	
}
.list-01 li::before {
	position:absolute; left:0px; top:0px; font-family:"FontAwesome"; content:"\f046";
}
.list-ic-blue li::before {
	color:#0094da
}
.list-ic-orange li::before {
	color:#f7921f;
}
.list-2col li {
	display:inline-block; width:45%; vertical-align:top;	
}
.list-2col li:nth-child(2n+1){
	
}
.list-3col li {
	display:inline-block; width:32.5%;	vertical-align:top;	
}
.image_list img {
	border: 1px solid #e3e3e3;
	padding: 15px;
	box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.1);
}
.well-blue {
	background-color:#f1f2f7;
	border:1px solid rgba(0,0,0,0.1); padding:25px 30px;	
}
.title-w-ic {
	padding-left:2em;
	position:relative;
}
.title-w-ic .fa {
	position:absolute; left:0px; top:0px; 	
}
.pleasecall_block {
	background-color:#0094da; color:#FFF; padding:15px 25px; text-align:center; font-size:24px; margin-bottom:20px;	
}
.pleasecall_block span {
	font-family: 'Play', sans-serif;
}
.pleasecall_block::before {
	font-family:'FontAwesome'; content:"\f095"; display:inline-block; margin-right:0.3em;	
}
.well-blue + .pleasecall_block {
	margin-top:-20px;	
}
.featured_img {
		
}
.quot_box {
	padding:20px 25px; margin-bottom:25px; position:relative; background-color:#f5f5f5; 
	border:2px solid #FFF; padding-left:100px;
-webkit-box-shadow:inset 0 0 0 1px rgba(202,202,202,1), 0 0 0 1px rgba(202,202,202,1);
box-shadow:inset 0 0 0 1px rgba(202,202,202,1), 0 0 0 1px rgba(202,202,202,1);		

}
.quot_box::before{
	color:#f7921f; position:absolute; left:30px; top:10px; content:"\f10d"; font-family:'FontAwesome'; font-size:50px;	
}
@media (max-width:480px) and (orientation:landscape){
	
}
@media screen and (max-width:767px){

	.top_orange_nav {
	   
	    margin-top: -34px;
	}
	.hstyle1 {

	    font-size: 18px;
	   
	}
	.slideshow h1 {
		font-size:20px;
	}

	h1 span, h2 span, h3 span, h4 span, h5 span {
		margin-left: -50px;
		width: 300%;
	}

	.bs-service-item {
		padding-left:65px;	
	}
	.bs-service-item::before {
		font-size:40px;	
		left:15px;
		top:20px;
	}
	.testi_sec .container {
		background-position:left bottom; background-size:50% auto;
	}
	.topmisclink .media {
		width:100%; clear:both; display:block; padding-right:0px; text-align:center;	
	}
	.topmisclink .media br {
		display:none;	
	}
	.topmisclink .media-left {
		width:100%;
		display:block;	
	}
	.logo img {
		margin:auto;	
	}
	.page-id-17 .body-content{
		text-align:center;	
	}
	.page-id-17 .body-content img {
		margin:auto;	
	}
	.list-2col li {
		width:100%;	
	}
	.col-height {
		display:block;	
	}	
}
@media screen and (min-width:768px){

}
@media (min-width:992px){

}
@media (min-width:1200px){

}
@media (min-width:768px) and (max-width:991px){




	.marginleftright64-75{
		margin-right: 64px;
    	margin-left: 70px;
    }
	.margin35{
		margin-left: 65px;

	}
	.padding29-35{

		padding-left: 29px;
    	padding-right: 35px;

	}

	.logo img {
		margin:auto;	
	}
	.topmisclink {
		text-align:center;	
	}
	.topmisclink .media {
		width:33%; padding-right:0px; text-align:center;
	}
	.testi_sec .container {
		background-position:right bottom;
	}
	.slideshow h1 {
		font-size:25px;
	}
	.carousel-content {
		font-size:16px;	
	}
	h1 span, h2 span, h3 span, h4 span, h5 span {
			
		width: 100%;
	}

}
@media (min-width:992px) and (max-width:1199px){

}